<h1>Beers!</h1>

{{#each beersFromApi}}
<li>
    <img src="{{image_url}}" alt="theBeer" width="50px">
    <p>{{name}}</p> 
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <a href="/beer/{{this.id}}"> Info : {{this.name}}</a>
</li>

{{/each}}