<h1>Your random beer is..... :</h1>

<li>
    <img src="{{responseFromAPI.0.image_url}}" alt="theBeer" width="50px">
    <p>{{responseFromAPI.0.name}}</p> 
    <p>{{responseFromAPI.0.description}}</p>
    <p>{{responseFromAPI.0.tagline}}</p>
    <p>{{responseFromAPI.0.food_pairing}}</p>
    <p>{{responseFromAPI.0.brewers_tips}}</p>
</li>